aioamqp==0.13.0
aiohttp==3.6.2
-e git+https://github.com/GalphaXie/BaseOnAioquant.git@afc134b6152d7e9de4d3fd2158da03f65ea210e3#egg=aioquant
async-timeout==3.0.1
attrs==20.3.0
chardet==3.0.4
idna==3.1
multidict==4.7.6
pamqp==2.3.0
yarl==1.6.3
